{% extends 'VICTORVISUserBundle::base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                -->
                <a href="#" class="navbar-brand">ViCtOrViS</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="content-login">

        <div class="row">
            <div class="col-md-12">
                <form role="form" class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">            
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <h2 class="form-signin-heading">{% trans %}Log in to continue{% endtrans %}</h2>

                    <input type="text" class="form-control input-lg" name="_username" id="username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required">
                    <input type="password" name="_password" class="form-control input-lg" id="password" placeholder="{{ 'security.login.password'|trans }}">

                    <label class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
                    </label>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'security.login.submit'|trans }}</button>

                    <div class="login-error text-center">
                        {% if error %}
                            <p class="text-danger">{{ error|trans }}</p>
                        {% endif %}      
                    </div>
                </form>        
            </div>        
        </div>

        <div class="row register-now">
            <div class="col-md-12 text-center">
                <a class="connect facebook" href="#" onclick="statusFacebook();retun false;">Login com Facebook</a>
                <br /><br /><br /><br />
                
                <a href="{{ path("fos_user_registration_register") }}" class="registration">{% trans %}Register now{% endtrans %}</a>
                <br /><br /><br /><br />
            </div>
        </div>        

    </div>
{% endblock %}

{% block footer %}
    <div id="footer" class="login">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </div>
{% endblock %}